@import "src/app/shared/scss/vars";
@import "src/app/shared/scss/mixins";

/* Styles banner */
.banner {
  border-top: 1px solid $color-light-grey;
  padding: em(62px) 0;

  .header {
    font-size: em(48px);
    line-height: 1.2;
    text-align: center;
    color: $color-dark-blue;
    font-family: 'PTSerif', sans-serif;
    font-weight: $fontW-Normal;

    span {
      display: block;
    }

  }

  button {
    margin-top: em(40px);
  }
}

@media all and (max-width: 980px){
  .banner {
    .header {
      font-size: 20px;
      span {
        display: inline;
      }
    }
  }
}
