
/* Styles greed */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-row {
  align-items: center;
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}


.icon-wrapper {
  img {
    width: 100%;
  }
}
